@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  margin: 15px;
}

.not-margin {
  margin: 0;
  padding: 10px 10px 0;
}

.con-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-error {
  color: #ff4757;
  font-size: 14px !important;
  line-height: 1.68;
}
